* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, sans-serif;

    background: #f4f6f8;
}

.payment-container {
    width: 100%;
    padding: 20px;
}

.payment-card {
    width: 100%;
    max-width: 420px;

    margin: auto;
    padding: 35px;

    background: #ffffff;

    border-radius: 18px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

    text-align: center;
}

.payment-card h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.subtitle {
    color: #777;
    margin-bottom: 30px;
}

.amount-box {
    padding: 20px;

    border-radius: 12px;

    background: #f7f7f7;

    margin-bottom: 25px;
}

.amount-box span {
    display: block;

    font-size: 14px;

    color: #777;

    margin-bottom: 8px;
}

.amount-box strong {
    font-size: 30px;
}

#pay-button {
    width: 100%;

    padding: 14px;

    border: none;
    border-radius: 10px;

    background: #111;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s;
}

#pay-button:hover {
    opacity: 0.85;
}

#pay-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#payment-status {
    margin-top: 20px;

    font-size: 14px;
}












.qr-section {
    display: none;

    margin-top: 30px;

    padding-top: 25px;

    border-top: 1px solid #eee;
}

.qr-section h2 {
    font-size: 20px;

    margin-bottom: 8px;
}

.qr-section p {
    color: #777;

    font-size: 14px;
}

#qr-image {
    width: 220px;
    height: 220px;

    margin: 20px auto;

    display: block;

    object-fit: contain;
}

#qr-status {
    margin-top: 10px;
}